<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% papers.sort_by {|i| [i.year.to_s, i.month.to_s] }.each do |paper| %>
  <tr>
    <td><%= link_to paper.title, paper %></td>
    <td><%= paper.year %></td>
  </tr>
<% end %>
</table>
